<div [ngClass]="{'justify-end': message.user.id === user.id, 'justify-start': message.user.id !== user.id}"
  class="flex w-full mb-4">
  <!-- [ngClass]="{
      'bg-indigo-600 text-white': message.user.id === user.id, 
      'bg-white border border-gray-200': message.user.id !== user.id
    }"  -->
  <div class="max-w-xs lg:max-w-md rounded-2xl px-4 py-3">
    <!-- Message header with username -->
    <div class="text-xs mb-1 flex items-center text-gray-500">
      @if (message.user.id === user.id) {
      <span>You</span>
      } @else {
      <span>{{message.user.username}}</span>
      }
      <span>•</span>
      <span class="text-xs">{{message.created_at | date:'shortTime'}}</span>
    </div>

    <!-- Message text -->
    <p [ngClass]="{'text-white bg-indigo-600': message.user.id === user.id, 'text-gray-800 bg-gray-300': message.user.id !== user.id}"
      class="text-sm break-words">
      {{message.text}}
    </p>
  </div>
</div>